@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme|Pacifico|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
body{
    background-color: beige;
}
 
header {
    color: rgb(208, 119, 27);
    font-family: 'Acme';
    background-color: black;
    font-size: 30px;
    padding: 39px 40px 100px 3px;
    margin: 30px , 40px;
    font-weight: bold;
    width: 100%;
    position:sticky;
    top:0;
   }

nav ul li {
        display: inline-block;
        margin:0px 15px;
}

nav ul li a { 
    background-color: #eeeeee;
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 25px ;
}
nav ul li a:hover{
    color:rgb(61, 58, 54);
}
#about{
    background-image:url(https://img.freepik.com/free-vector/red-abstract-hand-painted-background_23-2148293334.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /*or cover */

    }

#about{
    color: #9a5050;
    font-family: verdana;
    font-size:26px;
    margin: 20px;
    text-align: center;
    padding:100px;
    
}
#about h2{
    text-align: center;
    font-size:35px;
    color :rgb(44, 76, 86)
}

#my-education h2{
    text-align: center;
    font-size:35px;

}
#my-fav-top-movies h2{
    text-align: center;
    font-size:35px;

}
#contact-me h2{
    text-align: center;
    font-size:35px;

}
 .list {
    background-color:beige;
    color: #9b4f4f;
    font-family: 'Rancho' ;
    font-size: 35px;
    margin: 20px;
}
ul.list{
    list-style-type: square;
    margin-left: 40px;
}
ol.list{
    list-style-type: decimal;
    margin-left: 70px;
}
h2 { 
    font-family: cursive;
    color: rgb(197, 117, 60);
    margin: 75px;
}
footer{ 
    color: rgb(250, 249, 249);
    background-color: rgb(8, 8, 8);
    display: block;
    text-align: center;
    margin:30px ;
}
p  {
    font-family: 'Shadows Into Light';
    color: rgb(197, 117, 60);
    font-size: 30px;
    text-align: center;
}
h3{
    font-family: 'Pacifico';
    color: rgb(197, 117, 60);
    padding-bottom: 20px;
    margin-left: 20px;
    text-align-last: center;
    font-size: 30px;
}
.logo{
    float: left;
    scroll-padding-right: 30px ;
}
.my-nav{
   float: right; 
}



